<div class="container">
    <div class="row">
        <div class="six columns">
            <div class="row">
                <label for="class">Class:</label>
                <div>{{deck.class}}</div>
            </div>
            <div class="row">
                <label for="deckname">Deck Name:</label>
                <div>{{deck.deckName}}</div>
            </div>
            <div class="row">
                <label for="cards">Select your cards: </label>
                <input id="cardselector" type="text"/>
            </div>
            <div class="row">
                <button class="button-primary" id="updatedeck">Update Deck!</button>
            </div>
        </div>
        <div class="six columns">
            <div id="deckdisplay"></div>
        </div>
    </div>
</div>