<div class="container">
    <div class="header">
        <h1>Deckslots!</h1>
        <p>Create and manage an unlimited amount of Hearthstone decks!</p>
        <a class="button button-primary" href="/login">Login</a>
        <a class="button" href="/register">Register</a>
    </div>
</div>