<div class="container centered">
    <form action="/login" method="post">
        <div>
            <label for="username">Email or Username:</label>
            <input class="u-full-width" type="text" name="username"/><br/>
        </div>
        <div>
            <label for="password">Password:</label>
            <input class="u-full-width" type="password" name="password"/>
        </div>
        <div>
            <input class="button-primary" type="submit" value="Submit"/>
        </div>
    </form>
</div>