<div class="navbar u-full-width">
    <div class="container">
        <div class="left-nav">
            <div class="nav-item"><a href="/">Deckslots</a></div>
            <div class="nav-item"><a href="/deckbuilder">Deckbuilder</a></div>
        </div>

        <div class="right-nav">
            {{#if authenticated}}
                <div class="nav-item"><a href="/account">Account</a></div>
                <div class="nav-item"><a href="/logout">Logout</a></div>
            {{else}}
                <div class="nav-item"><a href="/register">Register</a></div>
                <div class="nav-item"><a href="/login">Login</a></div>
            {{/if}}
        </div>
    </div>
</div>