<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/skeleton/css/normalize.css">
    <link rel="stylesheet" href="/skeleton/css/skeleton.css">

    <link rel="stylesheet" href="/jquery-ui/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet/less" href="/css/main.less">
    <title>{{title}}</title>
</head>
<body>
{{{@body}}}
<script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/jquery-ui/ui/core.js"></script>
<script type="text/javascript" src="/jquery-ui/ui/widget.js"></script>
<script type="text/javascript" src="/jquery-ui/ui/position.js"></script>
<script type="text/javascript" src="/jquery-ui/ui/menu.js"></script>
<script type="text/javascript" src="/jquery-ui/ui/autocomplete.js"></script>

<script type="text/javascript" src="/less/dist/less.min.js" ></script>

<script type="text/javascript" src="/js/cardselector.js"></script>
</body>
</html>