<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/skeleton/css/normalize.css">
    <link rel="stylesheet" href="/skeleton/css/skeleton.css">

    <link rel="stylesheet" href="/jquery-ui/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet/less" href="/css/main.less">
    <script type="text/javascript" src="/less/dist/less.min.js" ></script>
    <title>{{title}}</title>
</head>
<body>
{{> navbar}}
{{{@body}}}
</body>
</html>