.navbar {
  position: fixed;
  top: 0;
  left: 0;

  .container {
    margin-top: 0;
  }

  a {
    text-decoration: none;
    padding: 20px;
  }
}

.left-nav {
  float: left;
}

.right-nav {
  float: right;
}

.nav-item {
  display: inline-block;
}