@import "mixins";
@import "navbar";

// Box sizing
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.main {
  margin-top: 5rem;
}

.section {
  .bordered;
  .rounded;
}

.section-header {
  padding: 1em;
  border-bottom: @border-style;
}

.section-header h2 {
  margin: 0;
}

.section-body {
  padding: 1em;
}